@import "bootstrap";
// ヘッダー//

.navbar-custom {
  background-color: #2972bb; 
}

// 一覧表示ページ //

// 境界線のスタイル //
.border-top {
  border-top: 2px solid #6c757d; /* ボーダーの色と太さを設定 */
}
//　スクロールバー
.scrollable-content-large {
  max-height: 600px; /* アイテム一覧の高さを大きく設定 */
  overflow-y: auto;
  padding-right: 15px; /* スクロールバーによる内容の重なりを防ぐためのパディング */
}

.scrollable-content-small {
  max-height: 200px; /* お知らせフォームの高さを小さく設定 */
  overflow-y: auto;
  padding-right: 15px; /* スクロールバーによる内容の重なりを防ぐためのパディング */
}

//ソートフォームレイアウト　//
.form-select {
  width: 150px; 
  display: inline-block;
  margin-right: 10px;
} 

// アイテム一覧アイテムごとの表示　//
.custom-border {
  border: 2px solid #000;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

// メディアクエリを使用してレスポンシブデザインを調整 //
@media (max-width: 768px) {
  .custom-border {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .highlight-date {
    font-size: 1rem;
  }

  .scrollable-content-large, .scrollable-content-small {
    max-height: 300px; /* スマートフォン画面用に高さを調整 */
  }
}


// 履歴一覧表示画面のレスポンシブデザイン調整
.table-responsive {
  table {
    white-space: nowrap;
  }
}

@media (max-width: 767.98px) {
  .table-responsive {
    font-size: 0.8em; // 必要に応じて調整
  }

  .table th, .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}